.main {
  min-height: 657px;
  height: 100% !important;
  background-color: rgb(245, 255, 251) !important;
  display: flex;
  justify-content: space-around;
}

.input__form--select {
  margin-top: 0px;
  width: 85%;
  height: 100%;
}
.main__image {
  min-width: 315px;
  min-height: auto;
  width: 40vw;
  height: auto;

  margin: 30px 0px 50px 0px;
  align-self: center;
}
.edit-link {
  background-color: rgb(83, 35, 194);
  color: white;
  padding: 5px;
  margin: 20px;
  align-self: flex-start;
  margin-left: 31px !important;
}
a {
  color: rgb(83, 35, 194);
  align-self: flex-start;
  margin-left: 31px !important;
}
textarea {
  margin: 2px 0px 0px 0px;
  min-height: 50px;
}
.button__section {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.title__register,
.title__login,
.title__product {
  font-size: 38px;
  font-weight: bold;
  color: #070153;
}

.file {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title__login {
  margin: 0px;
}
.title__product {
  margin-top: 10px;
}
.title__register {
  margin: -30px 0px 20px 0px !important;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
label {
  margin: 10px 0px 5px 0px;
}
.logIn,
.register {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(232, 246, 249);
  border-radius: 10%;
  padding: 10px;
  box-shadow: 0px 1px 8px 2px rgb(75, 74, 74);
}
.logIn {
  height: 41vh;
  width: 23vw;
  min-width: 270px;
}

.register {
  height: 41vh;
  width: 40vw;
  min-width: 400px;
}

.button__login {
  width: 50px;
  height: 50px;

  background-color: rgb(235, 235, 235);
}
.input__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 270px;
  height: 40px;
}
input {
  width: 179px;
  height: 24px;

  padding-left: 10px;
}

form {
  width: 250px;
  height: 111px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.image__group {
  height: 152px;
  margin-top: 10px !important;
}

.button__form {
  margin-top: 10px;
  align-self: flex-end;
  width: 60px;
  height: 30px;
  padding: 6px;
  background-color: rgb(2, 2, 88);
  color: white;
}
.link__register {
  display: flex;
  margin-top: 10px;
}
.img__button {
  width: 35px;
  height: 43px;
}
.imageEdit {
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 600px) {
  .main__image {
    min-width: 450px;
    margin: 60px 0px 20px 30px !important;
  }
}

@media screen and (min-width: 900px) {
  .logIn {
    align-self: flex-start;
  }
  .main {
    flex-direction: row;
    align-items: center;
  }

  .main__image {
    margin-top: 100px;
    width: 675px;
    min-width: 500px;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .main__image {
    margin-left: 10vw !important;
    min-width: 675px;
  }
}
@media screen and (min-width: 1300px) {
  .main__image {
    margin-left: 22vw !important;
    margin-right: 50px;
  }
}
